.ProductTile {
    position: relative;
    background: var(--secondry-color);
    max-width: 30%;
    flex: 1 1 25%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--secondry-color);
    border-top-color: rgb(255, 255, 255);
    gap: 0.8rem;
    transition: box-shadow 0.5s;
}

.ProductTile:hover {
    box-shadow: 0.5vw 0.5vw 1vw var(--secondry-color-dark);
}

.product-discount-percentage {
    position: absolute;
    top: 0rem;
    left: 0rem;
    background-color: #FF0000;
    color: white;
    font-size: 0.6rem;
    font-weight: 600;
    padding: 0.3rem;
}

.product-add-to-whishlist {
    position: absolute;
    top: 0.45rem;
    right: 14px;
}

.product-add-to-whishlist i {
    color: #D3D3D3;
    font-size: 1rem;
}

.product-image {
    background: linear-gradient(to bottom, white, var(--secondry-color));
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image img {
    padding: 1rem;
    width: 50%;
}

.product-category {
    padding-right: 1rem;
    padding-left: 1rem;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1rem;
    color: #666666;
}

.product-name {
    padding-right: 1rem;
    padding-left: 1rem;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    color: #3F3F3F;
}

.product-purchase-details {
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 800;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-price {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 1rem;
    gap: 0.7rem;
    color: #3F3F3F;
}

.product-actual-price {
    text-decoration-line: line-through;
    font-size: 0.8rem;
}

.product-discounted-price {
    font-size: 1rem;
}

.product-add-to-cart button {
    width: 5rem;
    height: 2rem;
    background: var(--primary-color);
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 18px;
    text-align: right;
    clip-path: polygon(15% 0%, 100% 0, 100% 100%, 0% 100%);
}

@media screen and (max-width: 1050px) {
    .ProductTile {
        flex: 1 1 40%;
        max-width: 50%;
    }
}

@media screen and (max-width: 670px) {
    .ProductTile {
        flex: 1 1 100%;
        max-width: 100%;
        margin: 4%;
    }
    .product-add-to-cart button {
        font-size: 70%;
    }
}