.Header {
    width: 100vw;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--header-text-color);
    padding: 0 6vw;
}

.menu-item {
    font-size: 1.112rem;
    font-weight: 400;
    line-height: 2vw;
}

.menu-item>* {
    color: var(--header-text-color);
}

.menu-item.active {
    font-weight: 700 !important;
    position: relative;
}

.menu-item.active::after {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 100%;
    height: 0.4vw;
    background: var(--primary-color);
    border-radius: 0.2vw;
}

.header-menu {
    width: 90vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.menu-button {
    display: none;
    height: 100%;
}

.header-user-details {
    width: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
}

.notification {
    position: relative;
}

.notification.active::after {
    content: '';
    position: absolute;
    top: -0.3vw;
    right: -0.3vw;
    width: 0.6vw;
    height: 0.6vw;
    background: var(--primary-color);
    border-radius: 50%;
}

@media screen and (max-width: 780px) {
    .menu-item {
        display: none;
    }
    .header-menu {
        width: 60vw;
    }
    .header-user-details {
        width: 40vw;
    }
    .menu-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}