.Footer {
    width: 100vw;
    background: var(--secondry-color);
    padding: 4rem 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.Footer>* {
    width: 15%;
}

.Footer>*:last-child {
    width: 25%;
}

.social-media-footer {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 1.5rem;
}

i {
    font-size: 1.2rem;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    justify-content: space-between;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3rem;
}

.links>* {
    color: #666666;
}

.newsletter {
    position: relative;
}

.inputbox {
    position: absolute;
    border: none;
    width: 100%;
    padding: 1rem 0rem 1rem 4.5rem;
    border-radius: 0.4rem;
}

.subscribe-button {
    position: absolute;
    top: 0.55rem;
    left: 0.55rem;
    padding: 0.4rem;
    border: none;
    border-radius: 0.4rem;
    background: var(--primary-color);
    color: white;
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 1rem;
    box-shadow: 0px 0.2rem 0.5rem rgba(0, 0, 0, 0.25);
}

.copyright {
    width: 100vw;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 0.85rem;
    /* line-height: 1.5rem; */
    color: #666666;
}

.footer-logo {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media screen and (max-width: 940px) {
    .Footer>* {
        width: 20%;
    }
    .Footer>*:last-child {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .Footer>* {
        width: 45%;
    }
    .Footer>*:last-child {
        width: 100%;
    }
}