@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Rubik';
    font-style: normal;
}

:root {
    --primary-color: #00CC96;
    --primary-color-fade: rgb(0, 204, 150, 0.3);
    --secondry-color: #F6F7FB;
    --secondry-color-dark: #e6e8ee;
    --header-text-color: #1D252C;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
}

a {
    text-decoration: none;
}

h3 {
    /* margin: 0; */
    /* margin-bottom: 1rem !important; */
}